<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="skinfarmers" href="/">SKIN FARMERS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation"><a class="navboutonergo" href="/add">Ajouter un skin</a></li>
                    <li role="presentation"><a class="navbouton" href="#">Fonctionnement</a></li>
                </ul>
            </div>
        </div>
    </nav></br>
</br></br></br></br></br>
<div><h1 class="titreproduit"><%= user.name %></h1></div> <!-- pour appeler le nom du skin sélectionné-->
<div class="footerr">
    <footer>
        <ul class="boutonfooter">
            <li class="bouton"><a href="#">Acceuil</a></li>
            <li class="bouton"><a href="#">Services</a></li>
            <li class="bouton"><a href="#">A propos</a></li>
            <li class="bouton"><a href="#">Informations légales</a></li>
        </ul>
    </br>
        <p class="copyright">Skins FARMERS @ 2020</p>
    </footer>
</div>
</body>
</html>